body{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

span,label{
  color: rgba(220, 220, 220);
}
input{
  border: none;
  font-size: 1.2rem;
  height: 30px;
  width: 200px;
  appearance: none;
}

input{
  background-color: rgba(220, 220, 220);
}

/* Left of page, image with title*/

.background-image{
  width: 40vw;
  background-image:url("./background.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.title-wrapper{
  display: flex;
  width: auto;
  height: 100%;
}

.title{
  display: flex;
  width: 100%;
  justify-content: center;
  height: fit-content;
  background: rgba(0, 0, 0,0.4);
  margin-top: 25vh;
  gap: 10px;
}

.logo{
  width: 65px;
}

.title > span{
  font-size: 5rem;
}

/* Right side, form and header */

.content-wrapper{
  display: flex;
  width: 60vw;
  background: #191A19;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  max-width: 800px;
}

.formheader{
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  height: 15vh;
  font-size: 1.4rem;
  justify-content: center;
  align-items: left;
}

.signup{
  display: flex;
}

.formwrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.row{
  display: flex;
  gap: 200px;
}

.row > * {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

form > span{
  font-size: 1.6rem;
}

label{
  font-size: 1.8rem;
}

button[type="submit"]{
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(78, 159, 61);
  width: 150px;
}
