@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Roboto+Slab&display=swap');

body{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Slab", sans-serif;
}
/* Left of page, image with title*/

.background-image{
  width: 40vw;
  background-image:url("./background.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.title-wrapper{
  display: flex;
  width: auto;
  height: 100%;
}

.title{
  display: flex;
  width: 100%;
  justify-content: center;
  height: fit-content;
  background: rgba(0, 0, 0,0.4);
  margin-top: 25vh;
  gap: 10px;
}

.logo{
  width: 65px;
}

.title > span{
  font-family: 'Paprika',sans-serif;
  font-size: 5rem;
}

/* Right side, form and header */

.content-wrapper{
  display: flex;
  width: 60vw;
  background: rgb(25, 26, 25);
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100%;
}

.form-header{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 625px;
  font-size: 1.4rem;
  justify-content: center;
  align-items: left;
}

.form-header,form{
  padding: 0px 0px 0px 40px;
}


.signup{
  display: flex;
  background-color: rgb(40, 40, 40);
  padding: 20px 0px 20px 0px;
  box-shadow: 5px 5px 10px 0px black;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.row{
  display: flex;
  gap: 200px;
}

.row > * {
  display: flex;
  width: 250px;
  gap: 8px;
  flex-direction: column;
}


form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
  padding-left: 40px;
}

label{
  font-size: 1.4rem;
}

span,label{
  color: rgba(200, 200, 200);
}

.error-msg{
  display: flex;
  gap: 4px;
}

input{
  appearance: none;
  border: 0px;
  outline: 2px solid gray;
  padding: 5px;
  border-radius: 10px;
  font-size: 1rem;
  height: 30px;
  width: 200px;
  background-color: rgba(200, 200, 200);
}

input:focus{
  outline: 3px solid rgb(150, 114, 72);
  box-shadow: 0px 7px 10px 4px rgb(0, 0, 0);
}

button[type="submit"]{
  font-size: 1.1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(150, 114, 72);
  width: 150px;
}

button[type="submit"]:hover{
  background-color: rgba(150, 114, 72,0.8);
}
button[type="submit"]:active{
  background-color: rgba(150, 114, 72,0.7);
}

.create-account{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-account > span{
  font-size: 1.1rem;
}

a{
  text-decoration: none;
  color: rgb(150, 114, 72);
}

a:active{
  color: rgba(150, 114, 72,0.7);
}
